*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: Airbnb Cereal App;
    display: flex;
    flex-direction: column;
   
    min-height: 100vh;
}
.container{
    max-width: 1140px;
    width: 100%;

    margin:auto;
   z-index: 2;
}


/* section{
    overflow: hidden;
} */


.nav-bar{
    display: flex;
    justify-content: space-between;
    
    background-color: white;
    padding: 23px;
    align-items: center;
    
}

.perfect-ring{
    position: relative;
}

.perfect-img{
    position: absolute;
    left: 105px;
    bottom: 45px;
}

.header-section{
    background-color:  black;
    background: url('./images/background-banner.png') no-repeat ;
    position: relative;
    background-size: 100% ;
    padding-top: 40px;
    

}

.video-btn{
    width: 60px;

    height: 60px;

    border-radius: 50%;

    /* padding: 20px; */

    background-color: #FFF;

    border: none;

    color: #00E5CC;

    filter: drop-shadow(0px 10px 30px  rgba(0, 229, 204, 0.10));

    margin-left: 15px;

     font-size: x-large;

    box-shadow: 1px 1px 8px rgb(223, 222, 222);
}
.nav-menu{
    display: flex;
  
    list-style: none;
    
    
}

.vector{
    position: absolute;
    right: -60px;
    top: -70px;
    z-index: 4;
    width: 80px;
    height: 80px;
}

.hellix-1{
    position: absolute;
    right: 0px;
    top: 50px;
}

.hellix-2{
    position: absolute;
    right: 0;
    bottom: 2px;
}

.nav-menu li a{
    text-decoration: none;
    
    padding-right: 25px;
    color: gray;
}

.nav-bar  a:hover{
    color: #00E5CC;
}

.btn{
    
height: 55px;
padding: 0px 30px;
justify-content: center;
align-items: center;
flex-shrink: 0;
border-radius: 6px;
background: #060640;
color: white;
}

.sign-in-btn {
    
    
text-align: right;
text-decoration: none;
margin-right: 10px;
font-size: 14px;
font-style: normal;
font-weight: 500;
line-height: 14px; 
color: #060640;
background-color: transparent;
border: none;
}



h1{
    color: #060640;

font-size: 50px;
font-style: normal;
font-weight: 700;
line-height: 65px; /* 130% */
}

.banner-container{
    display: flex;
    padding-top: 110px;
    padding-bottom: 110px;
   
}

.testimonial-div{
    background-color: white;
    display: flex;
    justify-content: center;
  
    padding: 23px;
    width: 418px;
    margin-top: 70px;

border-radius: 14px;

}



.Perfect-container{
    margin-top: 42px;
}

.testimonial-div-images{
    display: flex;
    justify-content: space-between;
}

.about-us-image{
    position: relative;
}

.img-stars{
    position: absolute;
   right: -45px;
   top: -45px;
}

.img-dash{
    position: absolute;
    right: -50px;
    bottom: 90px;
}



.banner-text{
    padding-top: 20px;
    padding-bottom: 30px;
}

.Hero-img{
    position: relative;
    
}

.img-allign{
    position: absolute;
    right: -110px;
    top: 210px;
}

.quote-div-text{
    padding-top: 10px;
}



.h2-heading{
    
font-size: 45px;
font-weight: 700;
line-height: 55px;

/* text-align: center; */


color: #060640;


}

.para{
    
font-size: 16px;
font-weight: 400;
line-height: 28px;

color: #9090A7;


}

.para2{
   
    font-size: 16px;
    font-weight: 400;
    line-height: 28px;
    margin-top: 12px;
   
    color: #9090A7;
}



.how_it_works{
    text-align: center;
}

.cards{
    display: flex;
    margin-top: 70px;
    gap: 30px;
    margin-bottom: 40px;
}

/* .how-it-works-parent{
    padding-top: 108px;
    
} */

.how-it-works-parent h2{
    margin-top: 108px;
}



.work-ring{
    position: relative;
}

.work-img{
    position: absolute;
    left: 30px;
    bottom: 40px;
}

.cards-heading{
    padding-top: 40px;
    padding-bottom: 10px;
    color:  #060640;
    
font-size: 24px;
font-weight: 500;
line-height: 34px;



}

.how-it-works-card{
    
    padding: 30px;
     border-radius: 14px;
    transition: 1s;
}

.how-it-works-card:hover{
    box-shadow: 0px 30px 50px 0px #030325;;
}



.about-us-section::before{
    content: "";
    position: absolute;
    background: url('./images/Stars.png') no-repeat 100%;
    width: 120px;
    height: 120px;
    top: 20px;
    right: 30px;
    /* border: 2px solid black; */
}
.about-us-section::after{
    content: "";
    position: absolute;
    background: url('./images/dashes.png') no-repeat 100%;
    width: 120px;
    height: 120px;
    bottom: 40px;
    right: 50px;
    /* border: 2px solid black; */
}
.About-Us-Parent{
    display: flex;
    margin-top: 110px;
}

.about-us-features{
    display: flex;
    padding-top: 40px;
}

h4{
    
font-size: 20px;
font-weight: 500;
line-height: 28px;
color: #060640;




}

.about-us-text{
   
   padding-top: 40px;
  
}

.para4{
    padding-top: 12px;
}

.para5{
   
    padding-top: 8px;
}

.features{
    padding-left: 25px;
}


.h4-heading1{
    
font-size: 20px;
font-weight: 500;
line-height: 28px;


width: 291px;
height: 56px;
padding-top: 20px;
color: #000000;


}

.span-ring{
   position: relative;
}


.img-ring{
    position: absolute;
    right: 30px;
    bottom: 42px;
}

.popular-packages-heading{
    display: flex;
    justify-content: space-between;
}

.popular-packages-parent{
    margin-top: 75px;
  
}

.helix-span{
    position: relative;
}

.helix-img{
    position: absolute;
    right: -100px;
    bottom: 150px;
}

.popular-section{
    background-color:  #ECF9FF;
    position: relative;
}
.img-z{
    z-index: 1;
}

.popular-helix{
    position: absolute;
    top: 10px;
    right: 0;
 

}

.card-footer{
  display: flex;
  justify-content: space-between;
}

.popular-card-1{
   
    padding: 16px;

    border: 1px solid #FFF;

    border-radius: 16px;
   
}

.popular-card-1:hover{
    box-shadow: 0px 10px 70px 0px rgba(2, 2, 38, 0.06);
    background-color: white;
    transition: 2s;
}

.popular-cards{
    display: flex;
    margin-top: 75px;
    margin-bottom: 110px;
    gap: 30px;
   
}




.amount{
    padding-top: 40px;
    font-size: 14px;
    font-weight: 500;
    line-height: 28px;
   
   
    color: #00E5CC;
    

}

.footer-pic{
    padding-top: 10px;
}

.popular-ring{
    position: relative;
}

.popular-img{
    position: absolute;
    right: 70px;
    bottom: 42px;
}

.global-promotion-parent{
    display: flex;
    justify-content: center;
    margin-top: 110px;
    
}
.global-child{
    text-align: center;
}

.para7{
   
font-size: 16px;
font-weight: 400;
color: #9090A7;
padding-top: 20px;
text-align: center;
padding-bottom: 70px;

}

.popular-heading{
    z-index: 20;
}

.popular-heading .fa-chevron-left{

    font-size: 20px;

    color: #828297;

    background: #FFFFFF;

    padding: 15px;

    border-radius: 8px;

    
    

}

.popular-heading .fa-chevron-right {

    font-size: 20px;

    color: #FFFFFF;

    background: #00E5CC;

    padding: 15px;

    border-radius: 8px;
    
    
}

.btn-left{
    border: none;
}

.promotion-ring{
    position: relative;
}

.promotion-img{
    position: absolute;
    bottom: 43px;
    right: 145px;
}

.subscribe-section{
    margin-top: 110px; 
    position: relative;
    margin-bottom: 110px;
}

.subscribe-section::before{
    content: "";
    position: absolute;
    background: url('./images/subscribe-dash1.png') no-repeat 100%;
    width: 120px;
    height: 120px;
    top: -130px;
    right: 170px;
}
.subscribe-section::after{
    content: "";
    position: absolute;
    background: url('./images/subscribe-dash2.png') no-repeat 100%;
    width: 120px;
    height: 120px;
    bottom: -80px;
    right: 50px;
}
.subscribe-parent{
  
    background-color: #ECFDFF;
    display: flex;
    padding-left: 60px;
    padding-bottom: 65px;
   
    position: relative;
  
}

.subscribe-dash1{
    position: absolute;
    top: -120px;
    right: 85px;
}

.subscribe-helix{
    position: absolute;
    right: -30px;
}

.subscribe-dash2{
    position: absolute;
    bottom: -60px;
    right: -55px;
}



.subscribe-ring{
    position: relative;
}

.subscribe-img{
    position: absolute;
    bottom: 40px;

}

.subscribe-content{
    padding-top: 57px;
   
}

.Email{
    background-color: white;
    width: fit-content;
    display: flex;
    justify-content: space-between;
    padding: 16px;

   
}

.email-input{
    width: 400px;
    border: none;
    font-size: 16px;
    outline: none;
}

.para-subs{
   padding-top: 20px;
   padding-bottom: 41px;
}

.img-div{
    position: relative;

    padding-left: 90px;
}

.img-man{
    position: absolute;
    bottom: -65px;
    z-index: 1;
}

.sec{
    width: 500px;
    background-color: red;
    height: 200px;
}


.footer-parent h2{
    
font-size: 50px;
font-weight: 700;
line-height: 50px;


color: white;
padding-bottom: 20px;

}

.footer-logo span{
    color:  #00E5CC;
    
}

.footer-up{
    background-color: #060640;
    
}

.footer-links li{
    color:  #9090A7;
    
    
font-size: 16px;
font-weight: 400;
line-height: 28px;
/* padding-top: ; */

text-decoration: none;
list-style: none;
margin-bottom: 12px;

}

.footer-parent p{
    color:  #9090A7;
    
    
    font-size: 16px;
    font-weight: 400;
    line-height: 28px;
    /* padding-top: ; */
    
    text-decoration: none;
    list-style: none;
    padding-bottom: 12px;
}

.footer-links li a{
    text-decoration: none;
    color:  #9090A7;
    ;
}



.footer-links h5{
   color: white;
   
font-size: 18px;
font-weight: 500;
line-height: 26px;


margin-bottom: 20px;

list-style: none;


}

.footer-parent{
    display: flex;
    justify-content: space-between;
    padding-top: 85px;
    padding-bottom: 49.82px;
}

.footer-links{
    padding-top: 5px;
}


.footer-down{
    background: #000020;
    

}

.footer-down-para{
    
font-size: 16px;
font-weight: 400;
line-height: 26px;


color: white;
padding-top: 27px;
padding-bottom: 27px;
}

.footer-down-child{
    display: flex;
    justify-content: space-between;
}

.footer-logo a{
    color: gray;
}

.footer-logo i{
    border: solid 2px gray;
    padding: 5px;
    border-radius: 50%;
    margin-right: 8px;
}
.footer-logo i:hover{
    color: #00E5CC;
    border-color: #00E5CC;
    
}